<div>
  <h1>Product Master</h1>
  <form (submit)="onSubmit()">
    <input
      type="text"
      [(ngModel)]="productName"
      placeholder="Product Name"
      required
    />
    <select [(ngModel)]="categoryId">
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
    <button type="submit">Add Product</button>
  </form>
  <ul>
    <li *ngFor="let product of products">
      {{ product.name }} - {{ product.categoryName }}
      <button (click)="editProduct(product)">Edit</button>
      <button (click)="deleteProduct(product.id)">Delete</button>
    </li>
  </ul>
</div>
